body {
    line-height: 0;
    padding-left: 10%;
    padding-right: 10%;

}
.heading {
    text-align: center;
}
div.inLine {
    display: flex;
    justify-content: space-between;
}
li {
    line-height: 1.5;
}